GTManagerExample.xcodeproj/project.xcworkspace/xcuserdata/erickbennett.xcuserdatad/UserInterfaceState.xcuserstate
GTManagerExample.xcodeproj/project.xcworkspace/xcuserdata/erickbennett.xcuserdatad/WorkspaceSettings.xcsettings
GTManagerExample.xcodeproj/xcuserdata/erickbennett.xcuserdatad/xcschemes/GTManagerExample.xcscheme
GTManagerExample.xcodeproj/xcuserdata/erickbennett.xcuserdatad/xcschemes/xcschememanagement.plist